*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    color: black;
}
.parent{
    width: 600px;
    margin: 0 auto;
    background-color: blue;
}
.grandma{
    width: 400px;
    background-color: coral;   
}
.child::after{
    content: "";
    clear: left;
    display: block;
}
.child{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    float: left;
}
.child::before{
    content: "child";
}
.child::after{
    content: "";
}
.red{
    background-color: red;
    position: absolute;
}
.yellow{
    background-color: yellow;
}
.blue{
    background-color: blue;
}
@media screen and (max-width: 767px) {
    .content-wrapper {
      grid-template-rows: repeat(2, minmax(100px, auto));
      grid-template-columns: 1fr;
    }
    .content-right {
      grid-row: 1/2;
      grid-column: 1/2;
  
      grid-template-rows: 1fr;
      grid-template-columns: repeat(2, minmax(100px, auto));
    }
  
    .a {
      grid-row: 1/2;
      grid-column: 1/2;
    }
  
    .b {
      grid-row: 1/2;
      grid-column: 2/3;
    }
    .content-left {
      grid-row: 2/3;
      grid-column: 1/2;
    }
  }